div#root span {
	color: #db0501;
}

div#root .slide:hover,
div#root .slide:focus {
	box-shadow: inset 15.5em 0 0 0 #db0501;
}

div#root .btn-primary:focus,
div#root .btn-primary.focus {
	color: #fff;
	background-color: #db0501;
	border-color: #db0501;
}

div#root .btn-primary {
	padding: 15px 50px;
	border-radius: 0px;
	font-weight: bold;
	text-transform: uppercase;
	color: #db0501;
	background-color: #fff;
	border-color: #db0501;
	background: none;
}

div#root .btn-primary:focus,
div#root .btn-primary.focus {
	color: #db0501;
	background-color: #e6e6e6;
	border-color: #9d171b;
}

div#root .btn-primary:hover {
	color: #db0501;
	background-color: #e6e6e6;
	border-color: #d61f26;
}

div#root .btn-primary:active,
div#root .btn-primary.active,
.open>div#root .btn-primary.dropdown-toggle {
	color: #db0501;
	background-color: #e6e6e6;
	border-color: #d61f26;
}

div#root .btn-primary:active:hover,
div#root .btn-primary:active:focus,
div#root .btn-primary:active.focus,
div#root .btn-primary.active:hover,
div#root .btn-primary.active:focus,
div#root .btn-primary.active.focus,
.open>div#root .btn-primary.dropdown-toggle:hover,
.open>div#root .btn-primary.dropdown-toggle:focus,
.open>div#root .btn-primary.dropdown-toggle.focus {
	color: #db0501;
	background-color: #d4d4d4;
	border-color: #9d171b;
}

div#root .btn-primary:active,
div#root .btn-primary.active,
.open>div#root .btn-primary.dropdown-toggle {
	background-image: none;
}

div#root .btn-primary.disabled:hover,
div#root .btn-primary.disabled:focus,
div#root .btn-primary.disabled.focus,
div#root .btn-primary[disabled]:hover,
div#root .btn-primary[disabled]:focus,
div#root .btn-primary[disabled].focus,
fieldset[disabled] div#root .btn-primary:hover,
fieldset[disabled] div#root .btn-primary:focus,
fieldset[disabled] div#root .btn-primary.focus {
	background-color: #fff;
	border-color: #db0501;
}

div#root .btn-primary .badge {
	color: #fff;
	background-color: #db0501;
}

div#root .btn-primary:hover,
div#root .btn-primary:focus,
div#root .btn-primary:active {
	color: #fff;
	background-color: #db0501;
	border-color: #db0501;
	transition: 0.25s;
}

div#root .btn-primary:hover:focus,
div#root .btn-primary:hover.focus,
div#root .btn-primary:focus:focus,
div#root .btn-primary:focus.focus,
div#root .btn-primary:active:focus,
div#root .btn-primary:active.focus {
	color: #fff;
	background-color: #de2228;
	border-color: #9d171b;
}

div#root .btn-primary:hover:hover,
div#root .btn-primary:focus:hover,
div#root .btn-primary:active:hover {
	color: #fff;
	background-color: #de2228;
	border-color: #d61f26;
}

div#root .btn-primary:hover:active,
div#root .btn-primary:hover.active,
.open>div#root .btn-primary:hover.dropdown-toggle,
div#root .btn-primary:focus:active,
div#root .btn-primary:focus.active,
.open>div#root .btn-primary:focus.dropdown-toggle,
div#root .btn-primary:active:active,
div#root .btn-primary:active.active,
.open>div#root .btn-primary:active.dropdown-toggle {
	color: #fff;
	background-color: #de2228;
	border-color: #d61f26;
}

div#root .btn-primary:hover:active:hover,
div#root .btn-primary:hover:active:focus,
div#root .btn-primary:hover:active.focus,
div#root .btn-primary:hover.active:hover,
div#root .btn-primary:hover.active:focus,
div#root .btn-primary:hover.active.focus,
.open>div#root .btn-primary:hover.dropdown-toggle:hover,
.open>div#root .btn-primary:hover.dropdown-toggle:focus,
.open>div#root .btn-primary:hover.dropdown-toggle.focus,
div#root .btn-primary:focus:active:hover,
div#root .btn-primary:focus:active:focus,
div#root .btn-primary:focus:active.focus,
div#root .btn-primary:focus.active:hover,
div#root .btn-primary:focus.active:focus,
div#root .btn-primary:focus.active.focus,
.open>div#root .btn-primary:focus.dropdown-toggle:hover,
.open>div#root .btn-primary:focus.dropdown-toggle:focus,
.open>div#root .btn-primary:focus.dropdown-toggle.focus,
div#root .btn-primary:active:active:hover,
div#root .btn-primary:active:active:focus,
div#root .btn-primary:active:active.focus,
div#root .btn-primary:active.active:hover,
div#root .btn-primary:active.active:focus,
div#root .btn-primary:active.active.focus,
.open>div#root .btn-primary:active.dropdown-toggle:hover,
.open>div#root .btn-primary:active.dropdown-toggle:focus,
.open>div#root .btn-primary:active.dropdown-toggle.focus {
	color: #fff;
	background-color: #c01c22;
	border-color: #9d171b;
}

div#root .btn-primary:hover:active,
div#root .btn-primary:hover.active,
.open>div#root .btn-primary:hover.dropdown-toggle,
div#root .btn-primary:focus:active,
div#root .btn-primary:focus.active,
.open>div#root .btn-primary:focus.dropdown-toggle,
div#root .btn-primary:active:active,
div#root .btn-primary:active.active,
.open>div#root .btn-primary:active.dropdown-toggle {
	background-image: none;
}

div#root .btn-primary:hover.disabled:hover,
div#root .btn-primary:hover.disabled:focus,
div#root .btn-primary:hover.disabled.focus,
div#root .btn-primary:hover[disabled]:hover,
div#root .btn-primary:hover[disabled]:focus,
div#root .btn-primary:hover[disabled].focus,
fieldset[disabled] div#root .btn-primary:hover:hover,
fieldset[disabled] div#root .btn-primary:hover:focus,
fieldset[disabled] div#root .btn-primary:hover.focus,
div#root .btn-primary:focus.disabled:hover,
div#root .btn-primary:focus.disabled:focus,
div#root .btn-primary:focus.disabled.focus,
div#root .btn-primary:focus[disabled]:hover,
div#root .btn-primary:focus[disabled]:focus,
div#root .btn-primary:focus[disabled].focus,
fieldset[disabled] div#root .btn-primary:focus:hover,
fieldset[disabled] div#root .btn-primary:focus:focus,
fieldset[disabled] div#root .btn-primary:focus.focus,
div#root .btn-primary:active.disabled:hover,
div#root .btn-primary:active.disabled:focus,
div#root .btn-primary:active.disabled.focus,
div#root .btn-primary:active[disabled]:hover,
div#root .btn-primary:active[disabled]:focus,
div#root .btn-primary:active[disabled].focus,
fieldset[disabled] div#root .btn-primary:active:hover,
fieldset[disabled] div#root .btn-primary:active:focus,
fieldset[disabled] div#root .btn-primary:active.focus {
	background-color: #db0501;
	border-color: #db0501;
}

div#root .btn-primary:hover .badge,
div#root .btn-primary:focus .badge,
div#root .btn-primary:active .badge {
	color: #db0501;
	background-color: #fff;
}

div#root .btn-primary:hover:hover,
div#root .btn-primary:hover:focus,
div#root .btn-primary:hover.focus,
div#root .btn-primary:focus:hover,
div#root .btn-primary:focus:focus,
div#root .btn-primary:focus.focus,
div#root .btn-primary:active:hover,
div#root .btn-primary:active:focus,
div#root .btn-primary:active.focus {
	color: #fff;
	text-decoration: none;
}

div#root .btn-primary:hover i,
div#root .btn-primary:focus i,
div#root .btn-primary:active i {
	color: #fff;
}

div#root .btn-default {
	padding: 15px 50px;
	border-radius: 0px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	background-color: #db0501;
	border-color: #db0501;
}

div#root .btn-default:focus,
div#root .btn-default.focus {
	color: #fff;
	background-color: #de2228;
	border-color: #9d171b;
}

div#root .btn-default:hover {
	color: #fff;
	background-color: #de2228;
	border-color: #d61f26;
}

div#root .btn-default:active,
div#root .btn-default.active,
.open>div#root .btn-default.dropdown-toggle {
	color: #fff;
	background-color: #de2228;
	border-color: #d61f26;
}

div#root .btn-default:active:hover,
div#root .btn-default:active:focus,
div#root .btn-default:active.focus,
div#root .btn-default.active:hover,
div#root .btn-default.active:focus,
div#root .btn-default.active.focus,
.open>div#root .btn-default.dropdown-toggle:hover,
.open>div#root .btn-default.dropdown-toggle:focus,
.open>div#root .btn-default.dropdown-toggle.focus {
	color: #fff;
	background-color: #c01c22;
	border-color: #9d171b;
}

div#root .btn-default:active,
div#root .btn-default.active,
.open>div#root .btn-default.dropdown-toggle {
	background-image: none;
}

div#root .btn-default.disabled:hover,
div#root .btn-default.disabled:focus,
div#root .btn-default.disabled.focus,
div#root .btn-default[disabled]:hover,
div#root .btn-default[disabled]:focus,
div#root .btn-default[disabled].focus,
fieldset[disabled] div#root .btn-default:hover,
fieldset[disabled] div#root .btn-default:focus,
fieldset[disabled] div#root .btn-default.focus {
	background-color: #db0501;
	border-color: #db0501;
}

div#root .btn-default .badge {
	color: #db0501;
	background-color: #fff;
}

div#root .btn-default i {
	color: #fff;
}

div#root .btn-default:hover {
	color: #fff;
	background-color: #db0501;
	border-color: #db0501;
	transition: 0.25s;
}

div#root .btn-default:hover:focus,
div#root .btn-default:hover.focus {
	color: #fff;
	background-color: #de2228;
	border-color: #9d171b;
}

div#root .btn-default:hover:hover {
	color: #fff;
	background-color: #de2228;
	border-color: #d61f26;
}

div#root .btn-default:hover:active,
div#root .btn-default:hover.active,
.open>div#root .btn-default:hover.dropdown-toggle {
	color: #fff;
	background-color: #de2228;
	border-color: #d61f26;
}

div#root .btn-default:hover:active:hover,
div#root .btn-default:hover:active:focus,
div#root .btn-default:hover:active.focus,
div#root .btn-default:hover.active:hover,
div#root .btn-default:hover.active:focus,
div#root .btn-default:hover.active.focus,
.open>div#root .btn-default:hover.dropdown-toggle:hover,
.open>div#root .btn-default:hover.dropdown-toggle:focus,
.open>div#root .btn-default:hover.dropdown-toggle.focus {
	color: #fff;
	background-color: #c01c22;
	border-color: #9d171b;
}

div#root .btn-default:hover:active,
div#root .btn-default:hover.active,
.open>div#root .btn-default:hover.dropdown-toggle {
	background-image: none;
}

div#root .btn-default:hover.disabled:hover,
div#root .btn-default:hover.disabled:focus,
div#root .btn-default:hover.disabled.focus,
div#root .btn-default:hover[disabled]:hover,
div#root .btn-default:hover[disabled]:focus,
div#root .btn-default:hover[disabled].focus,
fieldset[disabled] div#root .btn-default:hover:hover,
fieldset[disabled] div#root .btn-default:hover:focus,
fieldset[disabled] div#root .btn-default:hover.focus {
	background-color: #db0501;
	border-color: #db0501;
}

div#root .btn-default:hover .badge {
	color: #db0501;
	background-color: #fff;
}

div#root .btn-default:hover:hover,
div#root .btn-default:hover:focus,
div#root .btn-default:hover.focus {
	color: #fff;
	text-decoration: none;
}

div#root .btn-default:hover i {
	color: #777777;
}

div#root #top-header ul.contact_links a:hover {
	color: #db0501;
}

div#root #top-header ul.social_links i:hover {
	color: #db0501;
}

div#root .navbar-brand h1 {
	color: #db0501 !important;
}

div#root .navbar-brand span {
	color: #333333 !important;
}

div#root .navbar-inverse .navbar-toggle:hover,
div#root .navbar-inverse .navbar-toggle:focus {
	background-color: #fff;
}

div#root .navbar-inverse .navbar-toggle {
	border-color: #db0501;
}

div#root .navbar-inverse .navbar-toggle .icon-bar {
	background-color: #db0501;
}

div#root i {
	color: #db0501;
}

div#root .btn-default:hover {
	color: #fff;
	background-color: #db0501;
	border-color: #db0501;
}

div#root .btn-default:hover:focus,
div#root .btn-default:hover.focus {
	color: #fff;
	background-color: #de2228;
	border-color: #9d171b;
}

div#root .btn-default:hover:hover {
	color: #fff;
	background-color: #de2228;
	border-color: #d61f26;
}

div#root .btn-default:hover:active,
div#root .btn-default:hover.active,
.open>div#root .btn-default:hover.dropdown-toggle {
	color: #fff;
	background-color: #de2228;
	border-color: #d61f26;
}

div#root .btn-default:hover:active:hover,
div#root .btn-default:hover:active:focus,
div#root .btn-default:hover:active.focus,
div#root .btn-default:hover.active:hover,
div#root .btn-default:hover.active:focus,
div#root .btn-default:hover.active.focus,
.open>div#root .btn-default:hover.dropdown-toggle:hover,
.open>div#root .btn-default:hover.dropdown-toggle:focus,
.open>div#root .btn-default:hover.dropdown-toggle.focus {
	color: #fff;
	background-color: #c01c22;
	border-color: #9d171b;
}

div#root .btn-default:hover:active,
div#root .btn-default:hover.active,
.open>div#root .btn-default:hover.dropdown-toggle {
	background-image: none;
}

div#root .btn-default:hover.disabled:hover,
div#root .btn-default:hover.disabled:focus,
div#root .btn-default:hover.disabled.focus,
div#root .btn-default:hover[disabled]:hover,
div#root .btn-default:hover[disabled]:focus,
div#root .btn-default:hover[disabled].focus,
fieldset[disabled] div#root .btn-default:hover:hover,
fieldset[disabled] div#root .btn-default:hover:focus,
fieldset[disabled] div#root .btn-default:hover.focus {
	background-color: #db0501;
	border-color: #db0501;
}

div#root .btn-default:hover .badge {
	color: #db0501;
	background-color: #fff;
}

div#root .btn-default:hover:hover,
div#root .btn-default:hover:focus,
div#root .btn-default:hover.focus {
	color: #777777;
	background-color: #db0501;
	text-decoration: none;
}

div#root .btn-primary:hover,
div#root .btn-primary:focus,
div#root .btn-primary:active {
	color: #fff;
	background-color: #db0501;
	border-color: #db0501;
}

div#root .btn-primary:hover:focus,
div#root .btn-primary:hover.focus,
div#root .btn-primary:focus:focus,
div#root .btn-primary:focus.focus,
div#root .btn-primary:active:focus,
div#root .btn-primary:active.focus {
	color: #fff;
	background-color: #de2228;
	border-color: #9d171b;
}

div#root .btn-primary:hover:hover,
div#root .btn-primary:focus:hover,
div#root .btn-primary:active:hover {
	color: #fff;
	background-color: #de2228;
	border-color: #d61f26;
}

div#root .btn-primary:hover:active,
div#root .btn-primary:hover.active,
.open>div#root .btn-primary:hover.dropdown-toggle,
div#root .btn-primary:focus:active,
div#root .btn-primary:focus.active,
.open>div#root .btn-primary:focus.dropdown-toggle,
div#root .btn-primary:active:active,
div#root .btn-primary:active.active,
.open>div#root .btn-primary:active.dropdown-toggle {
	color: #fff;
	background-color: #de2228;
	border-color: #d61f26;
}

div#root .btn-primary:hover:active:hover,
div#root .btn-primary:hover:active:focus,
div#root .btn-primary:hover:active.focus,
div#root .btn-primary:hover.active:hover,
div#root .btn-primary:hover.active:focus,
div#root .btn-primary:hover.active.focus,
.open>div#root .btn-primary:hover.dropdown-toggle:hover,
.open>div#root .btn-primary:hover.dropdown-toggle:focus,
.open>div#root .btn-primary:hover.dropdown-toggle.focus,
div#root .btn-primary:focus:active:hover,
div#root .btn-primary:focus:active:focus,
div#root .btn-primary:focus:active.focus,
div#root .btn-primary:focus.active:hover,
div#root .btn-primary:focus.active:focus,
div#root .btn-primary:focus.active.focus,
.open>div#root .btn-primary:focus.dropdown-toggle:hover,
.open>div#root .btn-primary:focus.dropdown-toggle:focus,
.open>div#root .btn-primary:focus.dropdown-toggle.focus,
div#root .btn-primary:active:active:hover,
div#root .btn-primary:active:active:focus,
div#root .btn-primary:active:active.focus,
div#root .btn-primary:active.active:hover,
div#root .btn-primary:active.active:focus,
div#root .btn-primary:active.active.focus,
.open>div#root .btn-primary:active.dropdown-toggle:hover,
.open>div#root .btn-primary:active.dropdown-toggle:focus,
.open>div#root .btn-primary:active.dropdown-toggle.focus {
	color: #fff;
	background-color: #c01c22;
	border-color: #9d171b;
}

div#root .btn-primary:hover:active,
div#root .btn-primary:hover.active,
.open>div#root .btn-primary:hover.dropdown-toggle,
div#root .btn-primary:focus:active,
div#root .btn-primary:focus.active,
.open>div#root .btn-primary:focus.dropdown-toggle,
div#root .btn-primary:active:active,
div#root .btn-primary:active.active,
.open>div#root .btn-primary:active.dropdown-toggle {
	background-image: none;
}

div#root .btn-primary:hover.disabled:hover,
div#root .btn-primary:hover.disabled:focus,
div#root .btn-primary:hover.disabled.focus,
div#root .btn-primary:hover[disabled]:hover,
div#root .btn-primary:hover[disabled]:focus,
div#root .btn-primary:hover[disabled].focus,
fieldset[disabled] div#root .btn-primary:hover:hover,
fieldset[disabled] div#root .btn-primary:hover:focus,
fieldset[disabled] div#root .btn-primary:hover.focus,
div#root .btn-primary:focus.disabled:hover,
div#root .btn-primary:focus.disabled:focus,
div#root .btn-primary:focus.disabled.focus,
div#root .btn-primary:focus[disabled]:hover,
div#root .btn-primary:focus[disabled]:focus,
div#root .btn-primary:focus[disabled].focus,
fieldset[disabled] div#root .btn-primary:focus:hover,
fieldset[disabled] div#root .btn-primary:focus:focus,
fieldset[disabled] div#root .btn-primary:focus.focus,
div#root .btn-primary:active.disabled:hover,
div#root .btn-primary:active.disabled:focus,
div#root .btn-primary:active.disabled.focus,
div#root .btn-primary:active[disabled]:hover,
div#root .btn-primary:active[disabled]:focus,
div#root .btn-primary:active[disabled].focus,
fieldset[disabled] div#root .btn-primary:active:hover,
fieldset[disabled] div#root .btn-primary:active:focus,
fieldset[disabled] div#root .btn-primary:active.focus {
	background-color: #db0501;
	border-color: #db0501;
}

div#root .btn-primary:hover .badge,
div#root .btn-primary:focus .badge,
div#root .btn-primary:active .badge {
	color: #db0501;
	background-color: #fff;
}

div#root .btn-primary:hover:hover,
div#root .btn-primary:hover:focus,
div#root .btn-primary:hover.focus,
div#root .btn-primary:focus:hover,
div#root .btn-primary:focus:focus,
div#root .btn-primary:focus.focus,
div#root .btn-primary:active:hover,
div#root .btn-primary:active:focus,
div#root .btn-primary:active.focus {
	color: #fff;
	background-color: #db0501;
	border-color: #db0501;
	text-decoration: none;
}

div#root .section-heading span {
	color: #db0501;
}

div#root .navbar-inverse .navbar-nav>li>a:hover,
div#root .navbar-inverse .navbar-nav>li>a:focus {
	color: #db0501;
	background-color: transparent;
	border-bottom-width: 5px;
	border-bottom-style: solid;
	border-bottom-color: #db0501;
}

div#root .navbar-inverse .navbar-nav>.active>a,
div#root .navbar-inverse .navbar-nav>.active>a:hover,
div#root .navbar-inverse .navbar-nav>.active>a:focus {
	color: #db0501;
	background-color: transparent;
	border-bottom-width: 5px;
	border-bottom-style: solid;
	border-bottom-color: #db0501;
}

div#root #myCarousel .carousel-indicators .active {
	background-color: #db0501;
	border-color: #db0501;
}

div#root #features a.readmore {
	color: #db0501;
	font-weight: bold;
	text-transform: uppercase;
}

div#root #process .process-block:hover .process-icon {
	background-color: #db0501;
}

div#root #process .process-block:hover .process-icon-holder {
	border-color: #db0501;
}

div#root #process .process-block:hover .process-border {
	border: 20px solid rgba(229, 78, 83, 0.2);
}

div#root #testimonial .user-info {
	display: inline-block;
}

div#root #testimonial .user-info p {
	color: #db0501;
}

div#root #footer a:hover {
	color: #db0501;
}

div#root #footer a:hover i {
	color: #db0501;
}

div#root #footer .footer-block hr {
	background-color: #db0501;
	width: 50px;
	height: 3px;
	border-top: 1px solid #34363e;
	margin-top: 0px;
	display: inline-block;
}

div#root #bottom-footer .copyright a {
	color: #db0501;
}

div#root #bottom-footer .copyright a:hover {
	text-decoration: underline;
}

div#root #bottom-footer a:hover {
	color: #db0501;
}

div#root #panel .open {
	background-color: #db0501;
	display: block;
	width: 42px;
	border-radius: 0 3px 3px 0;
	height: 42px;
	float: right;
	font-size: 22px;
	top: 60px;
	right: -42px;
	z-index: 1000;
	position: absolute;
}

div#root #skills .progress.color .progress-bar {
	border-color: #db0501;
}

div#root #skills .progress.color .progress-value {
	color: #fff;
	background-color: #db0501;
}

div#root #skills .progress.progress-bar-1 .progress-left .progress-bar {
	animation: loading-2 1.5s linear forwards 1.8s;
}

div#root #skills .progress.progress-bar-2 .progress-left .progress-bar {
	animation: loading-3 1s linear forwards 1.8s;
}

div#root #skills .progress.progress-bar-3 .progress-left .progress-bar {
	animation: loading-4 0.4s linear forwards 1.8s;
}

div#root #skills .progress.progress-bar-4 .progress-left .progress-bar {
	animation: loading-5 1.2s linear forwards 1.8s;
}

div#root #team-member .qodef-circle-animate {
	background-color: #db0501;
}

div#root #portfolio .portfolio-hover {
	background-color: #db0501;
}

div#root #contact-page .submit-button {
	background: #db0501;
}

div#root #faq .icon-circle {
	background: #db0501;
}

div#root #faq .panel-title a:hover,
div#root #faq .panel-title a:active {
	color: #db0501;
}

div#root #features-page .right-background {
	background-color: #db0501;
}

div#root #features-page .right-background:before {
	right: -999em;
	background: #db0501;
	content: '';
	display: block;
	position: absolute;
	width: 999em;
	top: 0;
	bottom: 0;
}

div#root #features-page .iconbox-style.icon-color i.boxicon {
	color: #db0501 !important;
}

div#root #features-page .flip .icon-color.card .back {
	background: #db0501;
}

div#root #features-page .divider5 {
	border-bottom-color: #db0501;
}

div#root #features-page .feature-section-3-left {
	color: #db0501;
}

div#root #features-page .feature-section-3-left h1 {
	color: #db0501;
}

div#root #features-page .feature-section-3-right {
	background-color: #db0501;
}

div#root #features-page .pricing-plan-2 {
	background-color: #db0501;
}

div#root #features-page hr {
	background-color: #db0501;
}

div#root #features-page .right-section {
	background-color: #db0501;
}

div#root #login-reg .form-box .btn {
	background-color: #db0501;
}